# ~/.config/starship.toml
"$schema" = "https://starship.rs/config-schema.json"

add_newline = true
command_timeout = 500

format = "$directory$git_branch$git_status$battery$character"

[directory]
style = "bold cyan"
truncate_to_repo = true
truncation_length = 3

[character]
success_symbol = "[➜](bold green)"
error_symbol = "[➜](bold red)"

[package]
disabled = true

[git_branch]
symbol = " "
style = "bold purple"

[git_status]
style = "yellow"
modified = "!"
staged = "+"
untracked = "?"
ahead = "⇡"
behind = "⇣"
conflicted = "≠"

[battery]
full_symbol = "󰁹"
charging_symbol = "󰂄"
discharging_symbol = "󰂃"

[[battery.display]]
threshold = 30
style = "bold yellow"

[[battery.display]]
threshold = 15
style = "bold red"

